html {
    font-size: 14px;
}

@font-face {
    font-family: "Alegreya";
    src: url("../fonts/Alegreya.ttf");
}

@font-face {
    font-family: "Alegreya Italic";
    src: url("../fonts/Alegreya-Italic.ttf");
}

h1, h4 {
    font-family:Alegreya;
    color:saddlebrown;
}

.buying {
    display:grid;
    grid-template-columns: 2fr 1fr;
}

.pricing {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.adding {
    display: grid;
    grid-template-columns: 2fr 0.5fr;
}


.favButton {
    grid-column: 2;
    border: 0;
    width: 40px;
    height: 40px;
    font-size: 25pt;
    margin-bottom: 5px;
    margin-right: 20px;
    justify-self: right;
    text-align: center;
    background: none;
    color: #887756;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.catalDiv {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-left: 0;
    margin-right: auto;
}

.card, .mb-3 {
    grid-column: 2;
}

.card-title {
    font-weight: bold;
    font-size: 16pt;
}

.card-text {
    font-size: 12pt;
}

.naving {
    grid-column: 1;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: burlywood;
    margin-bottom: 60px;
}

header {
    background-color: saddlebrown;
}

nav {
    color: sienna;
}

.navbar-brand {
    font-family: Georgia;
    font-weight: bold;
    font-size: 16pt;
    color: rgb(227, 172, 102);
    margin-right: 40px;
}

.btn, .btn-close-white {
    font-family: 'Alegreya Italic';
    font-size: 16pt;
}

.nav-text-color {
    color: burlywood;
    font-family: 'Alegreya Italic';
    font-weight: lighter;
    font-size: 14pt;
    margin-right: 40px;
}

.navv {
    color: saddlebrown;
    font-family: 'Alegreya Italic';
    font-weight: lighter;
    font-size: 16pt;
}

.nav-itemAAA {
    margin-bottom: 40px;
}

.container {
    color: rgb(115, 65, 30);
    font-family: Georgia;
    font-weight: lighter;
    margin-left: 0;
    margin-right: auto;
}

.intro {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    width: fit-content;
    overflow-wrap: break-word;
}

@media(max-width: 392px) {
    .intro {
        grid-template-columns: 0.1fr 0.2fr 0.1fr;
    }
}

.intro-img1, .intro-img2 {
    width: 80px;
    height: 80px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.imgSlider {
    object-fit:cover;
    width: 100%;
    height: 50%;
    align-self:center;
}

.carousel-inner {
    width: 100%;
    height: 200px;
}

.intro-img1 {
    grid-column: 1;
}

.intro-img2 {
    grid-column: 3;
}

.intro-text {
    grid-column: 2;
}

.form-control, .me-2 {
    font-family: Alegreya;
    font-weight: lighter;
    background: antiquewhite;
}